<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="charset=utf-8"/>
        <title th:text="${title}"></title>
        <link type="text/css" rel="stylesheet" href="css/sh_nedit.css"/>
        <link type="text/css" rel="stylesheet" href="css/content.css"/>
        <script type="text/javascript" src="js/sh_main.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                renderMathInElement(document.body, {
                    delimiters: [
                        {left: "$$", right: "$$", display: true},
                        {left: "$", right: "$", display: false}
                    ]
                });
            });
        </script>
    </head>
    <body onload="sh_highlightDocument()">
        <div th:utext="${content}">

        </div>
    </body>
</html>